.AuthButton {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;

  cursor: pointer;

  .Label {
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 16px;
  }
}
